# PostgreSQL Database Connection (Neon ready)
# Replace with your Neon connection string: postgresql://neondb_owner:***@ep-***.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://neondb_owner:neonpassword@ep-cool-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:neonpassword@ep-cool-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# PayU Payment Gateway Credentials
# Replace with your PayU Merchant Key and Salt
PAYU_MERCHANT_KEY="gtKFFx"
PAYU_MERCHANT_SALT="eCwWELxi"
PAYU_ENV="test" # "test" for sandbox, "production" for live
NEXT_PUBLIC_PAYU_ENV="test"

# NextAuth / JWT Secret
NEXTAUTH_SECRET="gettoo-atelier-luxury-secret-key-2026-production"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Admin Access Credentials (Default for instant login)
ADMIN_EMAIL="admin@gettoo.atelier"
ADMIN_PASSWORD="atelier@admin2026"
